#wrapper {
width: 100%;
height: 100vh;
display: grid;
border: 1px solid black;
grid-template-areas: 
"hd hd hd hd"
"nav nav nav nav"
"s1 s1 s2 s2"
"grid1 grid1 grid1 grid1"
"ft ft ft ft";
grid-template-rows: 0.8fr 0.3fr 0.7fr 0.2fr 0.3fr;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

#img1{
    width: 70px;
    height: 70px;
    z-index: 2;
}

header {
    grid-area:hd;
    background-color: lightgoldenrodyellow;
    text-align: center;
     background-image: url(https://images.unsplash.com/photo-1426170042593-200f250dfdaf?q=80&w=2560&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-size: cover;
     background-position: center;
     color: rgb(255, 254, 219);

    
}

#kafe solglimt{
    font-size: 40px;
    font-weight: bold;
}
nav{
    display: flex;
    grid-area:nav;
    background-color: rgb(108, 124, 80);
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 25px;
    align-items: center;

}

#sec1{
    grid-area: s1;
    background-color: lightgoldenrodyellow;
    background-image: url(https://images.unsplash.com/photo-1497636577773-f1231844b336?q=80&w=3687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    color: rgb(255, 254, 219);
    border: 1px solid black;
}

#sec2{
    grid-area: s2;
    background-color: lightgoldenrodyellow;
    background-image: url(https://images.unsplash.com/photo-1602077812176-1bd3ff433d74?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    border: 1px solid black;
}

#middiv{
    grid-area: grid1;
    background-color: rgb(108, 124, 80);
}
footer{
    grid-area: ft;
    background-color: rgb(91, 109, 60);
    text-align: center;
}
